

.container
	.row
		.col-lg-12.text-center
			h1 A Harp.js Bootstrap Starter template
			p.lead From your friend at #[a(href="http://PochoLabs.com", target="_blank") PochoLabs.com].
			p Adapted from the #[a(href="https://getbootstrap.com/examples/starter-template/", target="_blank") Starter Template on Bootstrap], This theme includes all Bootstrap less and jQuery files locally for ultimate offline customization.
